.parent-box {
    /* font-size: 16px; */
    width: 50vw;
    height: 50vh;
    background-color: bisque;
    font-size: 10px;
}

.child-box {
    font-size: 2rem;
    width: 50%;
    height: 50%;
    background-color: aqua;
}