.container {
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: 25% 25% 25% 25%; */

    /* grid-template-columns: 1fr 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: 1fr 2fr 2fr; */

    gap: 20px 20px;

    /* horizontal */
    justify-items: center;
    /* vertical */
    align-items: center;

}

img {
    /* width: 200px; */
    /* height: 200px; */

    /* width: 100%; */
    /* height: 100%; */

    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.1);
}