#go-grid {
    display: grid;
    grid-template-rows: repeat(19, 40px);
    grid-template-columns: repeat(19, 40px);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: bisque;
    color: bisque;
    border: 2px solid black;
}