h1 {
    text-align: center;
    margin-top: 100px;
}

#canvas-draw {
    display: block;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}