/* 
    [색상용 디자인 토큰]
    $color-primary: #0088cc;                       
    $color-secondary: #3d3d3d;                       
    $color-success: #47b348;                       
    $color-warning: #ffae42;                       
    $color-error: #dc3545;
*/

/* 
    [폰트 크기용 디자인 토큰]
    $font-size-xs: 12px;                        
    $font-size-sm: 14px;                        
    $font-size-md: 16px;                        
    $font-size-lg: 20px;                        
    $font-size-xl: 24px;
*/
                
/*
    [간격용 디자인 토큰]
    $spacing-xs: 4px;                        
    $spacing-sm: 8px;                        
    $spacing-md: 16px;                        
    $spacing-lg: 32px;                        
    $spacing-xl: 64px;
*/

/*
    [SASS 변수를 사용해 디자인 토큰 정의하기]
    - 색상
        $color-primary: #3498db;
    - 간격
        $spacing-large: 20px;
    - 폰트
        $font-family-default: "Arial, sans-serif";
*/

/* 
    [사용자 지정 CSS 속성을 사용해 디자인 토큰 정의하기]
*/
:root {
    /* 색상 */
    --color-primary: #3498db;
    /* 간격 */
    --spacing-large: 20px;
    /* 폰트 */
    --font-family-default: "Arial, sans-serif";
}

/*
    [JSON을 사용해 디자인 토큰 정의하기]

{
    "color" : {
        "primary": "#3498db"
    },
    "spacing" : {
        "large": "20px"
    },
    "fonFamily": {
        "default": "Arial, sans-serif"
    }
}
*/

/*
    [YAML을 사용해 디자인 토큰 정의하기]
    color: 
        primary: '#3498db'
    spacing: 
        large: '20px'
    fontFamily:
        default: 'Arial, sans-serif' 
*/       

/*
    [SASS/LESS 설정 안에서 디자인 토큰 사용하기]
    @import 'path-to-your-design-tokens-file.scss'
    .button {
        background-color: $color-primary;
        padding: $spacing-large;
        font-family: $font-family-default;
    }
*/

/* CSS 변수로 정의된 디자인 토큰 사용하기 */
:root {
    --color-primary: #3498db;
    --spacing-large: 20px;
    --font-family-default: "Arial, sans-serif"
}

/* 사용자 지정 CSS 속성값 삽입하기 */
.button {
    background-color: var(--color-primary);
    padding: var(--spacing-large);
    font-family: var(--font-family-default);
}

